#JumbotronWelcome {
	background: linear-gradient(to bottom, rgb(32, 102, 11),  rgba(32, 102, 11, 0));
	color: black;
	width: 100%;
	height: 100%;
}

#JumbotronImage {
	width: 100%;
	height: 100%;
}

#JumbotronHeading {
	margin-top: 10%;
}

.jumbotronTextOnImage {
	width: 100%;
}